/* 
    Document   : estilo_paginas
    Created on : 7/05/2012, 05:38:56 PM
    Author     : huaca
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
.boton{
    font-family: Arial;
    font-size:  10pt;
    color:  black;
    margin-right: 5%;
    margin-left: 5%;
}
.texto{
    font-family: Arial;
    font-size:  10pt;
    color:  black;  
}
.label{
    font-family: Arial;
    font-size:  10pt;
    color: #378e45;
}


.enlaces{
    font-family: Arial;
    font-size:  10pt;
    color: #378e45;
    margin-left: 10pt;
    margin-right: 10pt;
}

.body{
    background: #e2e7e7
}
.tabla{
    width:  100%;
    height: 100%;
    border: 0pt;


}
.texto_error{
    color: black;
    font-family: Arial;
    font-size: 10pt;
}
.panel_error{
    background: #f5c5d0;
}
.panel_principal{
    font-family: Andalus;
    font-size: 14pt;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
}
.panel_resultados_busqueda{
    background:#d2dadf;
    font-family: Andalus;
    color: #1a87cc;
    font-size: 14pt;
    width: 100%;

}
.panel_buscar{
    background:#498dae;
    font-family: Andalus;
    font-size: 14pt;
}
.columna1{
    width: 10%;  
}
.columna2{
    width: 80%;    
}
.columna3{
    width: 10%;  
}
.separador{
    background: #1313d7;
    vertical-align: baseline;
    color:#1313d7;
}
.div{
   
    float:left;
    border-left: 2px solid #999999; 
    width:1px;
    height:500px ;
    
}
.cabecera{
    color: white;
}
.panel_pie_pagina{
    background:#498dae;
}
.texto_pie_pagina{
    color: white;
    font-family: Verdana;
    font-size: 10pt;
}
.tabView{
    margin-right: 5%;
    margin-left: 5%;
}
.menu_boton{
    font-family: Arial;
    font-size:  10pt;
    color:  black;
    width: 150pt;

}

